body{
  font-family: 'roboto';
  
}

.t1{
  font-size: 4em;  
}

.intro{
  color:#555555;
  font-size: 1.5em;
}

.t2{
  font-size: 1.5em;
  font-weight: bold;
}



.itemname{
  font-size: 1.2em;
  font-weight: bold;
}

.tl_header{
  color:#84411f
}

p{
  font-size: 100%;
}


.link2 {
  color: #000000
}
.link2:hover {
  color:#666666;

}

.link3 {
  color:#ff6f61;
  font-weight: 600;
}
.link3:hover {
  color: #1c1c1c;
}


.preface{
  font-weight: 900;
  font-size: 6em;
  color: #ff6f61;
  line-height: 105%;
}

.preface a{
  color: #333333;
  text-decoration: underline;
}