body{
  font-family: 'roboto';
  
}

.t1{
  font-size: 2em;  
}

.intro{
  color:#555555;
  font-size: 1.5em;
}

.t2{
  font-size: 1.5em;
  font-weight: bold;
}

.tl_header{
  color:#84411f
}

.tl_text{
  font-size: 1.3em;
  color:#ffffff;
}

.tl_text .link{
  color: #ffffff;

}

p{
  font-size: 1.2em;
  font-weight: 500;
}

p a{
  /* font-weight: 900; */
  text-decoration: underline;
}
p a:hover{
  text-decoration: underline;
}


.link2 {
  color: #333333
}
.link2:hover {
  color:#ff6f61;
  transform: translate(0, -10px);

}

.link2:hover .screenshot{
  filter: drop-shadow(8px 8px 10px gray);
}

.link2 .name{
  font-size: 1.5em;
  font-weight: 900;
}



.link3 {
  color:#ff6f61;
  font-weight: 600;
}
.link3:hover {
  color: #1c1c1c;
}


.preface{
  font-weight: 900;
  font-size: 6em;
  color: #ff6f61;
  line-height: 105%;
}

.preface a{
  color: #333333;
  text-decoration: underline;
}

.preface a:hover{
  /* color: #333333; */
  text-decoration: underline;
}

