body{
  font-family: 'roboto';
  
}

.t1{
  font-size: 2em;  
}



.t2{
  font-size: 1.5em;
  font-weight: bold;
}

.tl_header{
  color:#84411f
}

.tl_text{
  font-size: 1.1em;
  color: grey;
}

.tl_text .link{
  color: grey;

}

p{
  font-size: 1.2em;
  font-weight: normal;
}

.link2 {
  color: #333333;

}

.link2:hover {
  color:#2277ba;

}

.screenshot{
  box-shadow: 0 1px 2px rgba(22,120,175,0.15);
  transition: box-shadow 0.3s ease-in-out;

}

.screenshot:hover{
  box-shadow: 0 5px 15px rgba(22,120,175,0.3);
}

/* .screenshot::after{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.screenshot:hover::after{
  opacity: 1;
} */



.link2 .name{
  font-size: 1.5em;
  font-weight: 900;
}



p a {
  color: #7f7f7f;
  
}
p a:hover {
  color: #7f7f7f;
  text-decoration: underline;
  text-decoration-color: #ffdc00;
  
}


.preface{
  font-weight: 900;
  font-size: 6em;
  color: #ff6f61;
  line-height: 105%;
}

.preface a{
  color: #333333;
  text-decoration: underline;
}

.preface a:hover{
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #ffdc00;
}

